
<div>

  <h2>Create Antecedentes</h2>
  <div id="borde">
    <form action="" method="POST">

      <input type="number" placeholder="Codigo Antecedentes" name="COD_ANTECEDENTE" required pattern="[0-9]+"></input>

      <input type="text" placeholder="Tipo de Antecedentes" name="TIP_ANTECEDENTE" required pattern="[a-zA-Z]{5,50}" title="Solo se permite texto. Tamaño mínimo: 5. Tamaño máximo: 50"></input>

      <input type="text" placeholder="Descripcion Antecedentes" name="DES_ANTECEDENTE" pattern="[A-Za-z0-9]{5,255}" title="Tamaño máximo: 255"></input>

      <button id="btnSummit" type="submit">Send</button>
            
    </form>
  </div>
</div>
