<div>

  <h2>Nuevo Registro</h2>
  <div id="borde">

    <form action="" method="POST" class="mt-4">

     
      <input type="text" placeholder="Codigo Servicio" name="COD_SERVICIO"></input>

      <input type="text" placeholder="Nombre del tipo de servicio" name="COD_TIP_SERVICIO"></input>

      <input type="text" placeholder="Nombre del Servicio" name="NOM_SERVICIO"></input>

      <input type="number" placeholder="Monto del Servicio" name="MON_SERVICIO"></input>

      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 