
<div>

  <h2>Create Signo Vitales</h2>
  <div id="borde">
    <form action="" method="POST">

      <input type="number" placeholder="Codigo Especialidad" name="COD_ESPECIALIDAD" required pattern="[0-9]+"></input>

      <input type="number" placeholder="Codigo  Personal" name="COD_PERSONAL" required pattern="[0-9]+"></input>

      <input type="text" placeholder="Nombre de Especialidad" name="NOM_ESPECIALIDAD" required pattern="[a-zA-Z]{1,25}" title="Solo se permite texto. Tamaño máximo: 25" ></input>

      <input type="number" placeholder="Monto de Especialidad" name="MON_ESPECIALIDAD" pattern="[0-9]+></input>

      <button id="btnSummit" type="submit">Send</button>
            
    </form>
  </div>
</div>

