<div>

  <h2>Nuevo Registro</h2>
  <div id="borde">

    <form action="" method="POST" class="mt-4">

     
      <input type="text" placeholder="Codigo Estado Articulo" name="COD_EST_ARTICULO"></input>

      <input type="text" placeholder="Nombre Estado Articulo" name="NOM_EST_ARTICULO"></input>

      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 