<div>

  <h2>Nuevo Registro</h2>
  <div id="borde">

    <form action="" method="POST" class="mt-4">

     
      <input type="text" placeholder="Codigo Orden Compra" name="COD_ORDEN_COMPRA"></input>

      <input type="date" placeholder="Fecha de Ingreso" name="FEC_INGRESO"></input>

      <input type="text" placeholder="Nombre Proveedor" name="COD_PROVEEDOR"></input>

      <input type="text" placeholder="Nombre clinica" name="COD_CLINICA"></input>

      <input type="text" placeholder="Documento de Operacion" name="DOC_OPERACION"></input>

      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 