<div>

  <h2>Nuevo Registro</h2>
  <div id="borde">

    <form action="" method="POST" class="mt-4">

     
      <input type="text" placeholder="Codigo Operacion" name="COD_OPERACION"></input>

      <input type="text" placeholder="Documento de Operacion" name="DOC_OPERACION"></input>

      <input type="text" placeholder="Tipo de Operacion" name="TIP_OPERACION"></input>

      <input type="number" placeholder="Cantidad de Operacion" name="CAN_OPERACION"></input>

      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 