<div>

  <h2>Nuevo Registro</h2>
  <div id="borde">

    <form action="" method="POST" class="mt-4">

     
      <input type="text" placeholder="Codigo Inventario" name="COD_INVENTARIO"></input>

      <input type="text" placeholder="Nombre Articulo" name="COD_ARTICULO"></input>

      <input type="number" placeholder="Numero de Documento" name="DOC_OPERACION"></input>

      <input type="text" placeholder="Estado Articulo" name="COD_EST_ARTICULO"></input>

      <input type="date" placeholder="Fecha Ingreso" name="FEC_INGRESO"></input>

      <input type="number" placeholder="Cantidad de Articulo" name="CAN_ARTICULO"></input>

      <input type="date" placeholder="Fecha Vencimiento" name="FEC_VENCIMIENTO"></input>

      <input type="number" placeholder="Cantidad Minima" name="CAN_MINIMA"></input>

      <input type="number" placeholder="Cantidad Minima" name="CAN_MAXIMA"></input>
    
      <input type="text" placeholder="Clinica" name="COD_CLINICA"></input>

      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 