<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h2>Bienvenido al Sistema para la Gestión de Pacientes

            </h2>
            <h3 class="mb-5">
                <em>Clínica de Emergencias Medicas (CUM)</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Iniciar Sesión
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>