<<div>
 
  <h2>Asignación Objetos por Usuario</h2>
  <div id="borde">
    <form  action="" method="POST">
 
    {{!-- Código de Paciente <input id="columna" type="text"  name="COD_PACIENTE"> --}}
 
    Identificación <input id="columna" required pattern="[0-9]{8,13}" title="Solo permite números, minimo 8-máximo 13" type="text" placeholder="Número de Identidad o Pasaporte" name="NUM_IDENTIDAD"></input>
 
    Nombres <input id="columna" required pattern="[a-zA-Z ]{5,50}" title="Solo se permiten letras" type="text" placeholder="Primer y Segundo Nombre" name="NOM_PACIENTE">
 
    Apellidos <input id="columna" required pattern="[a-zA-Z ]{5,50}" title="Solo se permiten letras" type="text" placeholder="Primer y Segundo Apellido" name="APE_PACIENTE"></input>
 
    Fecha de Nacimiento <input id="columna" required type="date" placeholder="Fecha de Nacimiento" name="FEC_NACIMIENTO">
 
    Dirección de Domicilio <input id="columna" required pattern="[A-Za-z 0-9 ]{5,250}" title="Solo se permiten letras" type="text" placeholder="Dirección Completa" name="DIR_DOMICILIO"></input>
 
    Correo del Paciente <input id="columna" type="email" placeholder="Correo Electrónico" name="DIR_CORREO_ELECTRONICO">
 
    Teléfono del Paciente <input id="columna" type="tel" pattern="[0-9]{8,12}" placeholder="Teléfono" name="NUM_TELEFONO"></input>
 
    Genero del Paciente     <select name="GENERO" id="GENERO">
              <option value="F">Femenino</option>
              <option value="M">Masculino</option>
    </select>

    Ocupación del Paciente <input id="columna" required pattern="[a-zA-Z ]{5,50}" title="Solo se permiten letras" type="text" placeholder="Ocupación" name="OCUPACION"></input>
   
 
      <button id="btnSummit" onclick="myFunction()" type="submit" >Guardar</button>

    <script>
    function myFunction() {
     alert("Paciente Registrado");
    }
    </script>
 
    </form>

        <button id="btnCancel" ><a class="colorbtn" href="/expediente_paciente">Cancelar</a></button>

  </div>
</div>  
 
