<div>

  <h2>Nuevo Registro</h2>
  <div id="borde">

    <form action="" method="POST" class="mt-4">

     
      <input type="text" placeholder="Codigo Tipo Servicio" name="COD_TIP_SERVICIO"></input>

      <input type="text" placeholder="Nombre Tipo Servicio" name="NOM_TIP_SERVICIO"></input>

      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 