
<div>

  <h2>Create Clinica</h2>
  <div id="borde">
    <form action="" method="POST">

      <input type="number" placeholder="Codigo Clinica" name="COD_CLINICA" required pattern="[0-9]+"></input>

      <input type="text" placeholder="Nombre de la Clinica" name="NOM_CLINICA" required pattern="[A-Za-z0-9]{5,50}" title="Tamaño mínimo: 5. Tamaño máximo: 50"></input>

      <input type="text" placeholder="Direccion de la Clinica" name="DIR_CLINICA" required pattern="[A-Za-z0-9]{5,255}" title=" Tamaño máximo: 255"></input>

      <input type="number" placeholder="Numero de la Clinica" name="NUM_TELEFONO" required pattern="[0-9]+"></input>

      <input type="email" placeholder="Direccion de la Clinica" name="DIR_CORREO_ELECTR"></input>

      <button id="btnSummit" type="submit">Send</button>
            
    </form>
  </div>
</div>


 