<div>

  <h1>Create Articulo</h1>
  <div id="borde">
    <form  action="" method="POST">

      {{!-- <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
        p-2 my-2 focus:bg-white" placeholder="Task Id" name="Id"> --}}
      <h5>Expediente</h5>
      <input type="text" placeholder="Código del Expediente" name="COD_EXPEDIENTE"></input>

      <h5>Paciente</h5>
      Código de Paciente: <input id="columna" type="text" placeholder="Código de Paciente" name="COD_PACIENTE">

      Número de Identidad: <input id="columna" type="number" placeholder="Número de Identidad" name="NUM_IDENTIDAD"></input>

      Nombre del Paciente: <input id="columna" type="text" placeholder="Nombre del Paciente" name="NOM_PACIENTE">

      Apellidos del Paciente: <input id="columna" type="text" placeholder="Apellidos del Paciente" name="APE_PACIENTE"></input>

      Fecha de Nacimiento: <input id="columna" type="text" placeholder="Fecha de Nacimiento" name="FEC_NACIMIENTO">

      Dirección de Domicilio: <input id="columna" type="text" placeholder="Dirección de Domicilio" name="DIR_DOMICILIO"></input>

      Correo Electrónico: <input id="columna" type="text" placeholder="Correo Electrónico" name="DIR_CORREO_ELECTRONICO">

      Teléfono: <input id="columna" type="tel" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" placeholder="Teléfono" name="NUM_TELEFONO"></input>

      Genero: <input id="columna" type="text" placeholder="Genero" name="GENERO">

      Ocupación: <input id="columna" type="text" placeholder="Ocupación" name="OCUPACION"></input> 
      
      <h5>Contactos de Emergencia</h5>
      <div>
        <input id="columna" type="text" placeholder="Código de Paciente" name="COD_PACIENTE">

        <input id="columna" type="number" placeholder="Número de Identidad" name="NUM_IDENTIDAD"></input>
      </div>

      <h5>Antecedentes</h5>
      <div>
        <input id="columna" type="text" placeholder="Código de Paciente" name="COD_PACIENTE">

        <input id="columna" type="number" placeholder="Número de Identidad" name="NUM_IDENTIDAD"></input>
      </div>
      {{!-- <input type="number" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
        p-2 my-2 focus:bg-white" placeholder="Task Monto" name="Monto">
      
      <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
        p-2 my-2 focus:bg-white" placeholder="Task Detalle" name="Detalle">

      <input type="date" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
        p-2 my-2 focus:bg-white" placeholder="Task Fecha" name="Fecha"> --}}

       <button id="btnSummit" type="submit" >Send</button>

    </form>
  </div>
</div>