<div>

  <h2>Nueva Factura</h2>
  <div id="borde">
    <form action="" method="POST">

    {{!-- <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
      p-2 my-2 focus:bg-white" placeholder="Task Id" name="Id"> --}}
    
      <input type="text" placeholder="Código de la factura" name="COD_FACTURA"></input>

      <input type="text" placeholder="Fecha de la Factura" name="FEC_FACTURACION"></input>

      <input type="text"  placeholder="Codigo del Paciente" ame="COD_PACIENTE"></input>

      <input type="number"placeholder="Monto del Impuesto sobre la venta " name="MON_ISV"></input>

      

          
      {{!-- <input type="number" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
        p-2 my-2 focus:bg-white" placeholder="Task Monto" name="Monto">
      
      <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
        p-2 my-2 focus:bg-white" placeholder="Task Detalle" name="Detalle">

      <input type="date" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
        p-2 my-2 focus:bg-white" placeholder="Task Fecha" name="Fecha"> --}}

      <button id="btnSummit" type="submit">Send</button>
    </form>
  </div>
</div>