
<div>

  <h2>Create Receta</h2>
  <div id="borde">
    <form action="" method="POST">

      <input type="number" placeholder="Codigo Receta" name="COD_RECETA" required pattern="[0-9]+"></input>

      <input type="text" placeholder="Detalle de Receta" name="DET_RECETA" required pattern="[A-Za-z0-9]{5,255}" title=" Tamaño máximo: 255" ></input>

      <button id="btnSummit" type="submit">Send</button>
            
    </form>
  </div>
</div>