<div>

  <h2>Nuevo Tipo Articulo</h2>
  <div id="borde">

    <form action="" method="POST">

     
      <input type="text" placeholder="Codigo Tipo Articulo" name="COD_TIP_ARTICULO"></input>

      <input type="text" placeholder="Nombre Tipo Articulo" name="NOM_TIP_ARTICULO"></input>

      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 