<div>

  <h2>Nuevo Registro</h2>
  <div id="borde">

    <form action="" method="POST" class="mt-4">

     
      <input type="text" placeholder="Codigo Proveedor" name="COD_PROVEEDOR"></input>

      <input type="text" placeholder="Nombre Proveedor" name="NOM_PROVEEDOR"></input>

      <input type="number" placeholder="Numero de RTN" name="NUM_RTN"></input>

      <input type="text" placeholder="Direccion del establecimiento" name="DIR_ESTABLECIMIENTO"></input>
      
      <input type="number" placeholder="Numero de telefono" name="NUM_TELEFONO"></input>

      <input type="text" placeholder="Correo Electronico" name="DIR_CORREO_ELECTR"></input>
      
      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 