<div>

  <h2>Nuevo Registro</h2>
  <div id="borde">

    <form action="" method="POST" class="mt-4">

     
      <input type="text" placeholder="Codigo detalle Orden" name="COD_DETALLE_ORDEN"></input>

      <input type="date" placeholder="Fecha Ingreso" name="COD_ORDEN_COMPRA"></input>

      <input type="text" placeholder="Nombre Articulo" name="COD_ARTICULO"></input>

      <input type="number" placeholder="Cantidad" name="CAN_ARTICULO"></input>

      <input type="number" placeholder="Monto " name="CAN_ARTICULO"></input>

      <input type="date" placeholder="Fecha Vencimiento" name="FEC_VENCIMIENTO"></input>

      <button id="btnSummit" type="submit">Aceptar</button>

    </form>
  </div> 
</div> 