
<div>
  <h2>Nuevo Articulo </h2>
  <div id="borde">
    <form action="" method="POST">

      <input type="text" placeholder="Código del Articulo" name="COD_ARTICULO" ></input>

      <input type="text" placeholder="Tipo de Articulo" name="COD_TIP_ARTICULO"></input>

      <input type="text" placeholder="Nombre del Articulo" name="NOM_ARTICULO"></input>

      <input type="number" placeholder="Valor del Articulo" name="MON_UNITARIO"></input>

      <input type="text" placeholder="Detalle del Articulo" name="DET_ARTICULO"></input>

      <button id="btnSummit" type="submit" >Guardar</button>
            
    </form>
  </div>
  <scripts>
    
    {{!-- function ValidacionTexto(){
      var ptext=/^[a-zA-Z]/;
      console.logic(ptext);
      var OK = ptext.exec(document.getElementById("COD_TIP_ARTICULO").value);
      if (!OK) {
          console.error(COD_TIP_ARTICULO.value + ' isn\'t a phone number with area code!');
      } else {
          console.log('Gracias, tu número de teléfono es ' + OK[0]);}
    } --}}
  </scripts>
</div>

